{% extends 'base.html' %}
{% block header %}{% include 'header.html' %}{% endblock header %}


{% block content %}

<div class="container chicken my-5 p-5">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 bg-warning text-white p-5">
            <h2 class="bg-secondary mt-3 text-center py-3 px-3">Password Reset sent</h2>
            <hr>
            <p>We'have emailed to you the instructions for reseting your password,
                if an  account exists with the emil you entered.
                you should receive them shortly
            </p>
            <p>
                if you dont recieve the email,
                please make sure you have entered the address you registered with,
                and check your spam folder.
            </p>
        </div>
    </div>
</div>
{% endblock content %}

