{% extends 'base.html' %}
{% block title %} Reset Password{% endblock title %}

{% block header %} {% include 'header.html' %} {% endblock header %}

{% block content %}

    <div class="container m-5">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 bg-warning text-white">
                <h2 class="bg-secondary text-center py-3 px-5">Password Reset Comfirm</h2>
                <hr>
                <p>Please enter your new password</p>
                <form class="p-5" method="POST">
                {% csrf_token %}
                {{ form.as_p }} <br>
                  <button  class="btn btn-secondary text-white my-3" type="submit">Confirm Password Reset</button>
                </form>
            </div>
        </div>

    </div>

{% endblock content %}
    
    