{% extends 'base.html' %}

{% block title %}{{profile_data.user.username|title}}{% endblock title %}
<!-- header  -->
{% block header %} {% include 'header.html' %}{% endblock header %}


{% block content %}
  <!-- header -->
  <div class="dashhead">
    <h2>ReFill</h2>
</div>
<div class="headline">

</div>
<!-- header done -->

<!-- menu toggle -->
<!-- <div class="toggleback">
    <i class="fa-solid fa-user"></i>
</div> -->
<!-- menu toggle done -->


<section class="bigger">
    <div class="row text-center">
        
        <div class="col-5 col-sm-6 col-md-3 col-lg-2 col-xl-4">
          <div class="navbox">
            <!-- <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-user"></i>
              </button> -->
              <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
              </div> -->
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="dash.html">Basic Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'passwordupdate' %}">Passwords</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profileupdate' %}">Update Profile</a>
                </li>
              </ul>
          </div>
        </div>

        <div class="col-5 col-sm-6 col-md-3 col-lg-2 col-xl-8 base">
            <div class="basic">
                <div class="basicheader">
                    <h2>Basic Info</h2>
                </div>
                <div class="profileicon">
                    <img src="{{profile_data.profile_pix.url}}">
                </div>
                <div class="info">
                    <p>First Name : {{profile_data.first_name|title}}</p>
                    <p>Last Name  : {{profile_data.last_name|title}}</p>
                    <p>Email : {{profile_data.email}}</p>
                    <p>address : {{profile_data.address}}</p>
                    <p>city : {{profile_data.city}}</p>
                    <p>state : {{profile_data.state}}</p>
                </div>
            </div>
        </div>
        
      </div>
</section>
{% endblock content %}

{% block footer %} {% include 'footer.html' %}{% endblock footer %}


    
    